<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Watt-Now EM</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/img/favicon.png" rel="icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
    {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>
<body>
    <header>
        <img src="/img/watt-now_logo.jpg" alt="Watt-Now logo" />
        <h1>Event Management</h1>
    </header>
    <nav>
        <ul>
            <li class="{{#if dashboard}}active{{/if}}">
                <a href="/">Dashboard</a>
            </li>
            <li class="{{#if rawdata}}active{{/if}}">
                <a href="/rawdata">Raw Data</a>
            </li>
            <li class="{{#if festivalmap}}active{{/if}}">
                <a href="/festivalmap">Festival map</a>
            </li>
        </ul>
    </nav>


    {{{body}}}
    <!-- d3 setup JS -->
    <script src="/js/d3.min.js"></script>
    <!-- heatmap -->
    <script src="/js/heatmap.js"></script>
    <!-- custom functionality -->
    <script src="/js/script.js"></script>
    <!-- d3 functionality -->
    <script src="/js/dashboard.js"></script>

    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('/sw.js');
        }
    </script>
</body>
</html>
