html,
body {
  color: #060c36;
  margin: 0 auto;
  padding: 0;
  max-width: 90rem;
  font: 15px "Dosis", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

figure {
  border: solid;
  height: 20em;
  width: 20em;
  overflow: hidden; }
  figure img {
    width: 100%; }

h1 {
  font-size: 60px;
  font-weight: 500; }

h2 {
  font-size: 36px;
  font-weight: 500; }

h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase; }

h4 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px; }

h5 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px; }

p {
  color: #5C637A; }

nav {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #00B7FF;
  font-size: 1.3em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    nav ul li {
      margin-bottom: 0.5rem;
      margin-right: 3rem;
      padding: 0.5em;
      display: inline; }
      nav ul li a {
        color: #060c36;
        text-decoration: none; }
      nav ul li a:visited {
        color: #060c36; }

.active {
  background-color: #060c36;
  border-radius: 3px 3px 0 0; }
  .active a {
    color: white; }
  .active a:visited {
    color: white; }

img[src="/img/watt-now_logo.jpg"] {
  float: left;
  margin-right: 2rem;
  width: 12rem; }
