html,
body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

figure {
    border: solid;
    height: 20em;
    width: 20em;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.red {
	fill: #fb5d61;
}
.orange {
	fill: #ffa7a2;
}
.yellow {
	fill: #a8d3f5;
}
.green {
	fill: #5db7ef;
}
.empty {
	fill: lightgrey;
}
